.header {
    max-width: 450px;
    height: 47px;
    margin-top: 70px;
    margin-left: 70px;
}
.logo {
    display: flex;
    max-width: 700px;
    padding: 50px 0; 
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.container {
    max-width: 1440px;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}
.footer {
    max-width: 1440px;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}
footer {
    background-color: blue;
}
.par {
    color: white;
}
h2{
    color: white;
}