.header {
    max-width: 450px;
    height: 47px;
    margin-top: 70px;
    margin-left: 70px;
}
.logo {
    display: flex;
    max-width: 700px;
    padding: 50px 0; 
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.container {
    max-width: 1440px;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}
.about-footer {
    max-width: 1440px;
    width: 96%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 2px solid blue;
}
footer {
    background-color: blue;
}
.par {
    color: white;
}
h2{
    color: white;
}
.text {
    display: flex;
    flex-direction: column;
    max-width: 440px;
    padding-bottom: 210px;
}
.text iframe {
    max-width: 497px;
    height: 197px;
}
.sim1 {
    display: flex;
    padding: 30px;
    background-color: white;
    max-width: 50px;
    margin-top: 50px;
    margin-left: 30px;
    justify-content: center;
}
.sim2 {
    padding: 30px;
    background-color: white;
    max-width: 150px;
    margin-left: 200px;
    justify-content: center;
    margin-top: 50px;
}
.sims {
    display: flex;
}